.posts-container {
  margin: 0 auto;
  width: 50%;
}
.filter-bar-container {
  display: flex;
  justify-content: space-evenly;
}
.filter-bar {
  margin-top: 23px;
  margin-bottom: -300px;
  margin-left: 750px;
  display: flex;
  flex-direction: column;
  width: 150px;
}
.filter-option {
  margin: 3px;
  padding: 5px;
  border-radius: 5px;
  border-style: none;
}
.post-details-container {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 45px;
}
.post {
  border-radius: 20px;
  margin: 25px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(82, 81, 81, 0.111);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.124);
}

.card-header {
  margin: 15px;
  display: flex;
  justify-content: space-between;
}
.post-title {
  font-size: 36px;
  margin: 20px;
}
.post-body {
  margin-left: 150px;
  margin-right: 150px;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.back-bar {
  display: flex;
  justify-content: space-between;
}
.back-button {
  margin-top: 47px;
  margin-bottom: -300px;
  margin-right: 500px;
}
.button {
  padding: 5px 10px;
  border-style: none;
  border-radius: 4px;
  background-color: rgba(82, 81, 81, 0.156);
}
