<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
    <title>Wespeak</title>
  </head>
  <body>
    <h1>Wespeak</h1>
    <div id="main-field">
      <div id="speaking-field">
        <p>Speak</p>
        <input type="text" id="speaking-input" placeholder="Speak: " />
        <input type="text" id="speaking-number-input" placeholder="Number: " />
        <button type="submit" id="submit-speak">Submit</button>
      </div>
      <div id="spoken-field">
        <p>Spoken</p>
        <input type="text" id="spoken-input" placeholder="Spoken: " />
        <input type="text" id="spoken-number-input" placeholder="Number: " />
        <button type="submit" id="submit-spoke">Submit</button>
      </div>
    </div>
    <h1 onclick="copyClipboard(event)" id="output">Click Me</h1>
    <script>
      function copyClipboard(event) {
        buttonClone = event.target.innerHTML;
        try {
          navigator.clipboard.writeText(buttonClone);
          console.log("Content copied to clipboard");
        } catch (err) {
          console.error("Failed to copy: ", err);
        }
      }
    </script>
    <script type="module" src="./scripts/main.js"></script>
  </body>
</html>
