body {
  text-align: center;
  font-family: "Comfortaa", sans-serif;
  background-color: rgba(0, 0, 0, 0.344);
}

#main-field {
  margin-top: 29px;
  display: flex;
  justify-content: center;
  gap: 40px;
  font-weight: 700;
}

#speaking-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: pink;
  border-radius: 4px;
}

#speaking-input {
  padding: 5px;
  margin: 8px;
}

#speaking-number-input {
  padding: 5px;
  margin: 8px;
}

#submit-speak {
  width: 100px;
  margin: 8px;
}

#spoken-input {
  padding: 5px;
  margin: 8px;
}

#spoken-number-input {
  padding: 5px;
  margin: 8px;
}

#submit-spoke {
  width: 100px;
  margin: 8px;
}

#output {
  padding: 5px;
  margin: 70px auto;
  font-size: 70px;
  width: 75%;
  text-wrap: wrap;
  overflow-wrap: break-word;
}
#output:hover {
  cursor: pointer;
}
#spoken-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgb(80, 181, 117);
  border-radius: 4px;
}

.copy-btn {
  border: 2px solid black;
  padding: 3px;
  width: 3px;
  box-shadow: 3px 3px black;
}
